.form-type{
    max-width: 256px;
    margin: auto;
    text-align: center;
}

.form-type p{
    color: red;
    margin-bottom: 5px
}

.invalid-feedback{
    width: 100%;
}

.signature{
    margin:auto;
    text-align: center;
}

.signature-field{
    visibility: hidden;
}

.signature-pad{
    border-style: solid;
    background-color: white;
    border-width: 1px;
    border-radius: 10px;
    margin-top: -30px;
}